@model GoodNewsAggregator.Models.ViewModels.Account.UserCabinetViewModel
@{
    ViewData["Title"] = "Личный кабинет пользователя";
}

<h2>Привет @User.Identity?.Name</h2>


<form asp-action="UpdateUser" asp-controller="Account" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <table class="table">
        <tr class="form-group">
            <td>
                <label asp-for="UserName" class="control-label"></label>
            </td>
            <td>
                <input asp-for="UserName" class="form-control" readonly="readonly" />
            </td>
        </tr>
        <tr class="form-group">
            <td>
                <label asp-for="Email" class="control-label"></label>
            </td>
            <td>
                <input asp-for="Email" class="form-control" readonly="readonly" />
            </td>
        </tr>
            <tr class="form-group">
                <td>
                    <label asp-for="Year" class="control-label"></label>
                </td>
                <td>
                    <input asp-for="Year" class="form-control" />
                </td>
                <td>
                    <span asp-validation-for="Year" class="text-danger"></span>
                </td>
            </tr>



        <tr class="form-group">
            <td>
                <label asp-for="PhoneNumber" class="control-label"></label>
            </td>
            <td>
                <input asp-for="PhoneNumber" class="form-control" />
            </td>
            <td>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </td>
        </tr>

        <tr class="form-group">
            <td>
                <label asp-for="MinimalRating" class="control-label"></label>
            </td>
            <td>
                <input type="range" class="form-range" min="0" max="10" step="0.1" id="minimalRatingRange" asp-for="MinimalRating" />
            </td>
            <td>
                <span asp-validation-for="MinimalRating" class="text-danger"></span>
            </td>
        </tr>

    </table>
    <div class="form-group">
        <input type="submit" value="Обновить данные" class="btn btn-outline-secondary"/>
    </div>
    
</form>

<a class="btn btn-outline-secondary" asp-action="UpdateUser" asp-controller="Account" asp-route-id="@Model.Id">
    Изменить пароль</a>

<form asp-action="ChangePassword" asp-route-id="@Model.Id" method="post">
    <button type="submit" class="btn btn-outline-secondary">Изменить пароль</button>
</form>




