@model GoodNewsAggregator.Core.DTOs.CommentDto

<div class="card">
    <div class="card-body">
        <p class="card-text">@Model.Text</p>
        <h6>@Model.PublicationDate.ToLocalTime().ToString("g")</h6>
    </div>
</div>
