@model GoodNewsAggregator.Models.ViewModels.News.NewsListWithRssWithPagination
@using GoodNewsAggregator.HtmlHelpers
@using GoodNewsAggregator.Models.ViewModels.News

@{
    ViewData["Title"] = "News";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<div class="row text-center">
    <h1>Новости</h1>
</div>


<div class="row">

    <partial name="_RssList" model="Model.RssList" />

    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-md-4">
            <form asp-action="Aggregate">
                <input type="submit" value="Submit" class="btn btn-danger" />
            </form>
        </div>
    }
</div>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}


<div id="outputField">
    @{ await Html.RenderPartialAsync("_NewsListsWithPagination",
           new NewsListWithPagination()
           {
               NewsLists = Model.NewsLists,
               Pagination = Model.Pagination
           });}
</div>





@section scripts
{

    <script>

        $('.form-check-input').on('change', function () {
            updatePageFromSwitch();
        });

        $('body').on('click', '.page-item', function () {
            var page = $(this).children('label').attr('value');
            //alert(page);
            updatePageFromPagination(page);
        });



        function getCheckedRssIds() {
            var rssIds = [];

            $('.form-check-input:checked').each(function () {
                rssIds.push($(this).val());
            });
            return rssIds;
        };

        function updatePageFromSwitch(rssIds) {
            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            var rssIds = getCheckedRssIds();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Index", "News")',
                data: {
                    __RequestVerificationToken: token,
                    rssIds: rssIds,
                },
                //dataType: 'json',
                success: function (response) {
                    console.log('success!');
                    $('#outputField').html(response);
                }
            });
        };

        function updatePageFromPagination(page) {
            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            var rssIds = getCheckedRssIds();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Index", "News")',
                data: {
                    __RequestVerificationToken: token,
                    rssIds: rssIds,
                    page: page
                },
                //dataType: 'json',
                success: function (response) {
                    console.log('success!');
                    $('#outputField').html(response);
                }
            });
        };

    </script>
}
