@model IEnumerable<GoodNewsAggregator.Models.ViewModels.News.NewsList>

@{
    ViewData["Title"] = "News";
}



<h3>Are you sure you want to aggregate news? it can take a time</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Aggregate">
            <input type="submit" value="Submit" class="btn btn-danger" />
        </form>
    </div>
</div>

<h1>Новости</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="row">

    @foreach (var item in Model)
    {
        await Html.RenderPartialAsync("ShortNewsPreview", item);
    }

</div>
