@model GoodNewsAggregator.Models.ViewModels.News.NewsListWithRssWithPagination
@using GoodNewsAggregator.HtmlHelpers
@using GoodNewsAggregator.Models.ViewModels.News

@{
    ViewData["Title"] = "News";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<div class="row text-center">
    <h1>Новости</h1>
</div>


<div class="row news-header">

    <partial name="_RssList" model="Model.RssList" />

    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-md-4 align-self-center" id="aggregateDiv">
            <button class="btn btn-outline-secondary" id="aggregate">
                <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true" id="spinner"></span>
                Aggregate
            </button>
        </div>
    }
    <div class="col-md-4">
        <div class="row">
            <div class="col">
                Сортировка
            </div>
            <div class="col">
                Дата
                <span class="sort-for-date">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                    </svg>
                    </span>

            </div>
            <div class="col">
                Рейтинг
                <div class="sort-for-rating">

                </div>
            </div>
        </div>
    </div>
</div>



<div id="outputField">
    @{ await Html.RenderPartialAsync("_NewsListsWithPagination",
           new NewsListWithPagination()
           {
               NewsLists = Model.NewsLists,
               Pagination = Model.Pagination
           });}
</div>





@section scripts
{

    <script src="~/js/news.js"></script>
}
