@model GoodNewsAggregator.Models.ViewModels.News.NewsWithCommentsViewModel

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<div>
    @Html.Raw(Model.Body)
</div>
<div>
    @if (User.IsInRole("admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
    }
    <a asp-action="Index">Вернуться к списку</a>
</div>

<div class="row col-sm-12">
    <button id="comments-display" class="btn btn-outline-secondary">Загрузить комментарии</button>
    @*@foreach (var comment in Model.Comments)
    {
        @await Html.PartialAsync("_Comment", comment)
    }*@

</div>


@section Scripts
{
    <script src="~/js/comments.js"></script>
}
